<%- include("partials/header") -%>        <!--included the header partial both ways are correct in their own -->

    <h1><%=newtitle%></h1>
    <p><%=newbody%></p>

 <%- include("partials/footer") %>       <!--included the footer partial -->
